body{
    background-image: url("Original\ -\ Artist\'s\ impression\ of\ Lakemba\ Station\ platform.jpg.webp");
    background-size: cover;
    text-align: center;
}

.allButton{
    background-color: blueviolet;
    color: white;
    font-size: 18px;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    border: none;
}